### Target Vendor/Product
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="TL_WR841N-V14"

### WiFi Driver (4.0 - стандарт для 841n v14)
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0

### off PPP (PPPoE, L2TP, PPTP)
CONFIG_FIRMWARE_INCLUDE_PPPD=n
CONFIG_FIRMWARE_INCLUDE_PPPOE=n
CONFIG_FIRMWARE_INCLUDE_PPTP=n
CONFIG_FIRMWARE_INCLUDE_L2TP=n

### optimism
CONFIG_FIRMWARE_ENABLE_IPV6=n
CONFIG_FIRMWARE_INCLUDE_IPSET=n
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

### good fix
CONFIG_FIRMWARE_INCLUDE_NFQWS=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### lang
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### off notworkme
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=n
CONFIG_FIRMWARE_INCLUDE_IPERF3=n
CONFIG_FIRMWARE_INCLUDE_HTTPS=n
